.main-container-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  .github-login-card {
    max-width: 1400px;
    width: 100%;
  }
  .accordion-description {
    text-align: center;
  }
  .connect-text {
    color: #3d4cbc;
    font-size: 26px;
    font-weight: 600;
    margin-top: 8px;
  }
  .logo-text {
    margin-left: 5px;
  }
  .login-button {
    margin-top: 30px;
  }
  .grid-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    h6 {
      font-size: 20px;
      font-weight: 600;
      display: flex;
      align-items: center;
      span {
        margin-right: 6px;
      }
    }
  }
  .grid-layout,
  .detail-grid {
    display: flex;
    width: 100%;
    height: 250px;
    margin-top: 15px;
  }
  .detail-grid {
    display: flex;
    flex-direction: column;
  }
  .repo-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
