<div class="app-sidebar">
  <mat-accordion class="sidebar-menu">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>dashboard</mat-icon><span>Dashboard</span></mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="menu-items">
        <ul>
          <li>
            <a routerLink="/" mat-menu-item class="menu-item"
              ><mat-icon>home</mat-icon><span>Home</span></a
            >
          </li>
          <li>
            <a routerLink="/clients" mat-menu-item class="menu-item"
              ><mat-icon>supervisor_account</mat-icon><span>Clients</span></a
            >
          </li>
          <li>
            <a routerLink="/claims" mat-menu-item class="menu-item"
              ><mat-icon>apps</mat-icon><span>Claims</span></a
            >
          </li>
          <li>
            <a routerLink="/users" mat-menu-item class="menu-item"
              ><mat-icon>supervisor_account</mat-icon><span>Users</span></a
            >
          </li>
          <li>
            <a routerLink="/messages" mat-menu-item class="menu-item"
              ><mat-icon>comment</mat-icon><span>Messages</span></a
            >
          </li>
          <li>
            <a mat-menu-item class="menu-item"
              ><mat-icon>insert_drive_file</mat-icon> <span>Doc Logs</span></a
            >
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="menu-items mt-5">
    <ul>
      <li>
        <a routerLink="/financial-dashboard" mat-menu-item class="menu-item"
          ><mat-icon> account_balance </mat-icon
          ><span>Financial Dashboard</span></a
        >
      </li>
      <li>
        <a routerLink="/dashboard" mat-menu-item class="menu-item"
          ><mat-icon> dashboard </mat-icon><span>Main Dashboard</span></a
        >
      </li>
    </ul>
  </div>
  <mat-accordion class="sidebar-menu">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>supervisor_account</mat-icon
          ><span>Staff</span></mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="menu-items">
        <ul>
          <li>
            <a mat-menu-item class="menu-item"
              ><mat-icon>supervisor_account</mat-icon
              ><span>Integration Mapping</span></a
            >
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="menu-items mt-5">
    <ul>
      <li>
        <a mat-menu-item class="menu-item"
          ><mat-icon>account_balance</mat-icon><span>Platform Users</span></a
        >
      </li>
      <li>
        <a mat-menu-item class="menu-item"
          ><mat-icon>table_chart</mat-icon><span>Weekly Reports</span></a
        >
      </li>
      <li>
        <a mat-menu-item class="menu-item"
          ><mat-icon>layers</mat-icon><span>Projects</span></a
        >
      </li>
      <li>
        <a mat-menu-item class="menu-item"
          ><mat-icon class="material-symbols-outlined"> account_tree </mat-icon
          ><span>Time Records</span></a
        >
      </li>
    </ul>
  </div>
  <mat-accordion class="sidebar-menu">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>autorenew</mat-icon
          ><span>Integrations</span></mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="menu-items">
        <ul>
          <li>
            <a mat-menu-item class="menu-item"
              ><mat-icon>download_2</mat-icon><span>Setup</span></a
            >
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
